.container {
    max-width: 128rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);

    min-height: 50rem;
}

.header{ 
    font-size: 1.4rem;
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-grey-light-2);

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
}


.sidebar {
    background-color: var(--color-grey-dark-1);

    //no grow, no shrink, basis:18%
    flex: 0 0 18%;

    display: flex;
    //change the direction to from top to bottom
    flex-direction: column;
    justify-content: space-between;

}

.hotel-view {
    //TEST
    //background-color: greenyellow;
    height: 80rem;

    //grow as much as it can
    flex: 1;
}
